html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: white;
    padding: 0;
    margin: 0 0 5px 0;
}

.dialsHolder {
    position: relative;
    display: flex;

}

.leftsidedials {
    width: 65vw;
    display: flex;
    flex-direction: row;
}


.adsrHolder {
    padding: 1rem;
}

#adsr_element {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.filterHolder {
    padding: 1rem;

}

#filter_element2 {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around
}

.bpmHolder {
    padding: 1rem;
}

#bpm_element {}

.rightsideHolder {
    width: 35vw;
}


.verbHolder {
    padding: 10px;
    margin: 10px;
}

#verb_element {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.delayHolder {
    padding: 10px;
    margin: 10px;

}

#delay_element {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.distHolder {
    padding: 10px;
    margin: 10px;



}


#distort_element {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.note {
    margin-right: 1rem;
    height: 2.2rem;
    color: white;
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
}

.buttonHolder {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: space-around;
}

button {

    height: 2rem;
    background: white;
    border: 1px solid white;
    margin-top: 1rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;

}



button:focus {
    background: #444444;
}



.stepTitle {
    padding: 1.2rem;
}

.stepLayer {}

.stepLight {
    display: flex;
    justify-content: center;
    height: 3px;
    width: 50%;
    border: solid black 1px;
    background-color: black;
    margin-left: 15%;
    margin-top: 10%;
}

.stepLightOn {
    display: flex;
    justify-content: center;
    height: 3px;
    width: 50%;
    border: solid white 1px;
    background-color: white;
    margin-left: 15%;
    margin-top: 10%;

}

.stepButtons {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.stepButton {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    background: grey;
    font-size: 2rem;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}

.stepButtonBeat {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    background: grey;
    font-size: 2rem;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}

.stepButtonBeat::after,
.stepButtonBeat::before {
    content: '';
    position: absolute;

}

.stepButtonBeat::before {
    border: 2px solid white;
    top: 0.1em;
    bottom: 0.1em;
    right: 0.1em;
    left: 0.1em;
}

.stepButton:hover {
    color: rgba(255, 255, 0, 1);
}

.stepButtonpressed {
    color: rgba(0, 255, 0, 0.6);
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    background: grey;
    font-size: 2rem;
    text-decoration: underline;
    z-index: 0;
}

.stepButtonpressed::after,
.stepButtonpressed::before {
    content: '';
    position: absolute;

}

.stepButtonpressed::before {
    border: 2px solid rgba(0, 255, 0, 0.6);
    top: 0.1em;
    bottom: 0.1em;
    right: 0.1em;
    left: 0.1em;
}

.switch-toggle {
    float: left;
    background: #242729;
    margin-right: 0.25rem;
    margin-left: 0.25rem;

}

.switch-toggle input {
    position: absolute;
    opacity: 0;

}

.switch-toggle input + label {
    padding-right: 0.23rem;
    float: left;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    border: 2px solid grey;
}

.switch-toggle input:checked + label {
    background: lime;
    color: #000;
}



@media screen and (max-width: 1170px) {
    .dialsHolder {
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .leftsidedials {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .rightsideHolder {
        width: 80vw;
        margin: 0 auto;
    }

    .buttonHolder {
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
        width: 100vw;

        border: 1px solid green;
    }
}
