html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


label {
    /*    padding-right: 10px;
*/
}


h2 {
    color: white;
    padding: 0;
    margin: 0 0 5px 0;
}

.dialsHolder {
    position: relative;
    display: flex;

}

.leftsidedials {
    width: 65vw;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




.adsrHolder {
    padding: 1rem;
    border: 1px solid red;

}

#adsr_element {
    display: flex;
    align-items: baseline;
}

.filterHolder {
    padding: 1rem;
    border: 1px blue solid;
}

#filter_element2 {}

.bpmHolder {}

#bpm_element {}

.rightsideHolder {
    width: 35vw;
}


.verbHolder {
    padding: 10px;
    margin: 10px;

    /*    left: 425px;*/

}

#verb_element {
    display: flex;
}

.delayHolder {
    padding: 10px;
    margin: 10px;
}

#delay_element {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.distHolder {
    padding: 10px;
    margin: 10px;



}


#distort_element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*    width: 425px;*/
}





.musicNotePrintOut {
    margin-left: 1.2rem;
    color: white;
    font-weight: 500;
    font-size: 2.2rem;
}

.buttonHolder {
    padding-top: 1.2rem;
    display: flex;
    align-content: space-between;
}

button {

    height: 2rem;
    background: white;
    border: 1px solid white;
    margin-top: 1rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    /*    padding: 1rem;*/
}



button:focus {
    background: #444444;
}



.SequncerHolder {

    /*  margin: 2rem; */
    border: 1px solid yellow;





}

.stepLayer {


}

.stepLight {
    display: flex;
    justify-content: center;
    height: 3px;
    width: 50%;
    border: solid black 1px;
    background-color: black;
    margin-left: 15%;
    margin-top: 10%;
}

.stepLightOn{
    display: flex;
    justify-content: center;
    height: 3px;
    width: 50%;
    border: solid white 1px;
    background-color: white;
    margin-left: 15%;
    margin-top: 10%;
    
}

.stepButtons {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.stepButton {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    background: grey;
    font-size: 2rem;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}

.stepButtonBeat {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    background: grey;
    font-size: 2rem;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}

.stepButtonBeat::after,
.stepButtonBeat::before {
    content: '';
    position: absolute;

}

.stepButtonBeat::before {
    border: 2px solid white;
    top: 0.1em;
    bottom: 0.1em;
    right: 0.1em;
    left: 0.1em;
}

.stepButton:hover {
    color: rgba(255, 255, 0, 1);
}

.stepButtonpressed {
    color: rgba(0, 255, 0, 0.6);
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    background: grey;
    font-size: 2rem;
    text-decoration: underline;
    z-index: 0;
}

.stepButtonpressed::after,
.stepButtonpressed::before {
    content: '';
    position: absolute;

}

.stepButtonpressed::before {
    border: 2px solid rgba(0, 255, 0, 0.6);
    top: 0.1em;
    bottom: 0.1em;
    right: 0.1em;
    left: 0.1em;
}

.switch-toggle {
    float: left;
    background: #242729;
    margin-right: 0.25rem;
    margin-left: 0.25rem;

}

.switch-toggle input {
    position: absolute;
    opacity: 0;

}

.switch-toggle input + label {
    padding-right: 0.23rem;
    float: left;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    border: 2px solid grey;
}

.switch-toggle input:checked + label {
    background: lime;
    color: #000;
}
